[submodule "lib/Akela"]
	path = lib/Akela
	url = https://github.com/keyboardio/Akela
[submodule "lib/Akela-LangPack-Hungarian"]
	path = lib/Akela-LangPack-Hungarian
	url = https://github.com/algernon/Akela-LangPack-Hungarian
[submodule "lib/Akela-LED-ActiveModColor"]
	path = lib/Akela-LED-ActiveModColor
	url = https://github.com/algernon/Akela-LED-ActiveModColor
[submodule "lib/Akela-Escape-OneShot"]
	path = lib/Akela-Escape-OneShot
	url = https://github.com/algernon/Akela-Escape-OneShot
