[submodule "lib/Akela-LangPack-Hungarian"]
	path = lib/Akela-LangPack-Hungarian
	url = https://github.com/algernon/Akela-LangPack-Hungarian
[submodule "hardware/keyboardio/avr"]
	path = hardware/keyboardio/avr
	url = https://github.com/keyboardio/Arduino-Boards
[submodule "lib/KeyboardioFirmware"]
	path = lib/KeyboardioFirmware
	url = https://github.com/keyboardio/KeyboardioFirmware
